body { margin: 1em 2em; }
h1 { border-bottom: 1px solid silver; }
h2 { border-bottom: 1px solid silver; }
img { max-width: 100% }

blockquote { /* > quoted sentence */
  border-left: 0.5em solid #aaa;
  background: #eee;
  padding: 0 0.5em;
  font-style: italic;
}

pre:has(code) { /* code block */
  background-color:#eee;
  padding:1em;
}

code { /* `inline code` and code block */
  background: #eee; 
  font-family: monospace;
}

table { border-collapse: collapse; }
thead { border-bottom: 1px solid gray; }
th, td { padding: 0.2em 1em; }
