body {
  margin: 1em 2em;
}

h1 { border-bottom: 1px solid silver; }
h2 { border-bottom: 1px solid silver; }
img { max-width: 100% }

blockquote { /* > quoted sentence */
  border-left: 0.5em solid #aaa;
  background: #dddddd;
  padding: 0 0.5em;
  font-style: italic;
}

pre:has(code) { /* code block */
  background-color:#dddddd;
  padding:1em;
  font-family: monospace;
}

p code { /* `inline code` */
  background: #dddddd;
  font-family: monospace;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

table { border-collapse: collapse; }
thead { border-bottom: 1px solid gray; }
th, td { padding: 0.2em 1em; }
